body{
    background-color:darkgrey
}
.inicio h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 0; 
    text-align: center;
}
.inicio img{
    display: block;
    margin: 0 auto;
    height: 15%;
    width: 15%;
    object-fit: cover;
    border-radius: 15%;
}
table {
    width: 90%;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 10px;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
th {
    background-color: #f0f0f0;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f8f8f8;
}